<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

	<head>
		<title>Home</title>
		<style>
			.menu-unauthenticated {
				display: flex;
				gap: 8px;
			}
			.menu-unauthenticated a {
				text-decoration: none;
			}
		</style>
	</head>
	
	<body>
		<h1 th:text="#{home}"></h1>
		<h2 th:text="#{home}"></h2>

		<div sec:authorize="isAuthenticated()">
			<h1>
				<span th:text="#{index.hello}"></span>
				<span th:inline="text">[[${#httpServletRequest.remoteUser}]]!</span>
			</h1>
		</div>

		<div sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/professionals/listar}">
				<span class="" th:text="#{professionals_text}"></span>
			</a>
		</div>
		
		<div sec:authorize="hasAuthority('ADMIN')">
			<a th:href="@{/clientes/listar}">
				<span class="" th:text="#{clients.text}"></span>
			</a>
		</div>

		<div sec:authorize="hasAuthority('CLIENT')">
			<a th:href="@{/professionals/listar}">
				<span class="" th:text="#{professionals_text}"></span>
			</a>
		</div>
		<div class="menu-unauthenticated" sec:authorize="!isAuthenticated()">
			<a th:href="@{/professionals/listar}">
				<span class="" th:text="#{professionals_text}"></span>
			</a>
			<a th:href="@{/login}">
				<span class="" th:text="#{logon_text}"></span>
			</a>
			<a th:href="@{/professionals/cadastrar}">
				<span class="" th:text="#{cadastro_prof_text}"></span>
			</a>
			<a th:href="@{/clientes/cadastrar}">
				<span class="" th:text="#{client.register}"></span>
			</a>
		</div>

		<div sec:authorize="isAuthenticated()" style="right: 10px; position: absolute">
            <form th:action="@{/logout}" method="post">
                <div >
                    <div >
                        <input type="submit" name="login-submit" id="login-submit"
                            value="Logout">
                    </div>
                </div>
            </form>
        </div>
	
	</body>
</html>