<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity">

	<head>
		<title></title>
		<link th:href="" rel="stylesheet" />
	</head>
	
	<body>
		<h1 th:text="#{}"></h1>
		<h2 th:text="#{}"></h2>
		<a th:href="@{}">
			<span class="" th:text="#{}"></span>
		</a>
		<a th:href="@{}">
			<span class="" th:text="#{}"></span>
		</a>
	
	</body>
</html>